* {
  margin: 0;
  padding: 0;
}
.main-nav {
  background-color: #f3e2df;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  display: inline-block;
  display: felx;
  position: relative;

  font-family: Quicksand;
  font-weight: 600;
  font-size: 25px;
  color: black;
}

.nav-link {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 25px;
  color: black;
  text-decoration: none;
  margin: 30px;
}

.nav-item:hover .nav-link {
  color: #859986;
}

/* ------------- Logo ---------------- */
.logo {
  display: flex;
  padding: 30px;
}
.logo p {
  font-family: Bebas Neue;
  font-size: 60px;
}
.logo :nth-child(1) {
  color: #95aa99;
}
.logo :nth-child(2) {
  color: #859986;
}

/* ------------- Dropdown menu ---------------- */
.dropdown-menu {
  display: none;
}

.nav-item:hover .dropdown-menu {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  gap: 15px;
  right: 0;
  top: 100%;
  background-color: white;
  border: 1px solid #f3e2df;
}

.dropdown-list {
  width: fit-content;
}

.nav-item:hover .dropdown-list {
  display: block;
  margin: 3px 30px;
  font-size: 20px;
}

.dropdown-item {
  list-style: circle;
  display: inline-block;
  display: flex;
  position: relative;
}

.nav-item:hover .dropdown-item {
  justify-self: center;
}

.dropdown-link {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.dropdown-link:hover {
  color: #859986;
}
