html {
  --mørkeblå: #5d718a;
  --grøn: #95aa99;
  --gul: #e1a55d;
  --lyserød: #e6c5be;
  --orange: #cf7042;
  --lyseblå: #b4bfc5;
  --nav_lyserød: #f3e2df;
}
/* Fonte */
@font-face {
  font-family: "Bebas";
  src: url("../fonte/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonte/OpenSans-Light.ttf");
}
@font-face {
  font-family: "Quicksand-medium";
  src: url("../fonte/Quicksand-Medium.ttf");
}
@font-face {
  font-family: "Quicksand-regular";
  src: url("../fonte/Quicksand-Regular.ttf");
}
/* --------- Computer size ------------------ */
.grid_1-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 9em;
}
.img {
  grid-column: 1;
  grid-row: 1;
}
.text {
  grid-column: 2;
  grid-row: 2;
}
.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.send-liste {
  grid-column: 1;
  background-color: #95aa99;
  border-radius: 6px;
}

.grid_boxe {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5em;
  text-align: center;
}
.box_1 {
  grid-column: 2;
}
.box_2 {
  grid-column: 3;
}
.box_3 {
  grid-column: 4;
}
/* --------- Ipad ca size ------------------ */

@media only screen and (max-width: 768px) {
  .grid_1-1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1em;
  }
  .img {
    grid-column: 1;
    /* max-width: 80%;
    max-height: 80%; */
  }
  .grid_boxe {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
  }
  .box_1 {
    grid-column: 1;
    grid-row: auto;
  }
  .box_2 {
    grid-column: 1;
    grid-row: auto;
  }
  .box_3 {
    grid-column: 1;
    grid-row: auto;
  }
}
/* --------- mobile size ------------------ */
@media only screen and (max-width: 520px) {
  .grid_1-1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1em;
  }
  .text {
    grid-column: 1;
  }
  .grid-form {
    grid-template-columns: 1fr;
  }
  .grid_boxe {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .box_1 {
    grid-column: 1;
    grid-row: auto;
  }
  .box_2 {
    grid-column: 1;
    grid-row: auto;
  }
  .box_3 {
    grid-column: 1;
    grid-row: auto;
  }
}
