/* Dette dokument skal kobles med style.css */
* {
  margin: 0;
  padding: 0;
}
/* ––––––––––––––––––––––––––– hobby-list.html ––––––––––––––––––––––––––– */

/* ––––––––– Brødkrummesti ––––––––- */
.breadcrumb {
  display: flex;
  margin-left: 55px;
}

.breadcrumb a {
  text-decoration: none;
  color: #707070;
}
.breadcrumb p {
  margin: 10px 10px 10px 0;
  font-family: quicksand;
  font-size: 20px;
  color: #707070;
  font-weight: 300;
}

.kategori-html .bread-kategori,
.kategori-html .bread-hobby,
.kategori-html .skraastreg1,
.kategori-html .skraastreg2 {
  display: none;
}

.hobby-list .bread-kategori {
  font-weight: 500;
}
.hobby-list .bread-hobby,
.hobby-list .skraastreg2 {
  display: none;
}
.hobby .bread-hobby {
  font-weight: 500;
}
/* ––––––––– Hobby Cards ––––––––- */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  gap: 30px;
  margin: 0 55px;
}
.hobby-card {
  width: 300px;
  height: fit-content;
  border: solid #f3e2df 1px;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
}

.hobby-card a {
  text-decoration: none;
  align-self: center;
}

.hobby-card h2,
.hobby-card h3,
.hobby-card h4 {
  color: #707070;
  font-family: Quicksand;
}

.hobby-card h2 {
  font-size: 40px;
  font-weight: 500;
  margin: 16px 16px 0 16px;
}

.hobby-card img {
  align-self: center;
  aspect-ratio: 380/425;
  width: 250px;
}

.kategori-flex {
  display: flex;
  margin: 0 1em 1em 1em;
}

.hobby-card h3 {
  font-size: 30px;
  font-weight: 600;
}

.hobby-card h4 {
  font-size: 55px;
  margin: 0 0 0 15px;
  font-size: 30px;
  font-weight: 400;
}
