* {
  margin: 0;
  padding: 0;
}
main {
  min-height: 90vh;
}
a {
  text-decoration: none;
}

/* Farver */
html {
  --mørkeblå: #5d718a;
  --grøn: #95aa99;
  --gul: #e1a55d;
  --lysgul: #e8af81;
  --lyserød: #e6c5be;
  --orange: #cf7042;
  --lyseblå: #b4bfc5;
  --nav_lyserød: #f3e2df;
  --mørkgrå: #707070;
}
/* Fonte */
@font-face {
  font-family: "Bebas";
  src: url("../fonte/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonte/OpenSans-Light.ttf");
}
@font-face {
  font-family: "Quicksand-medium";
  src: url("../fonte/Quicksand-Medium.ttf");
}
@font-face {
  font-family: "Quicksand-regular";
  src: url("../fonte/Quicksand-Regular.ttf");
}

/* index
 - Globalmenu 
 - Footer
 - Brødkurmmesti
 - index.html
 - kategori.html
 - hobby-list.html
 - hobby.html
 */

/* ––––––––––––––––––––– Globalmenu ––––––––––––––––––––– */

.main-nav {
  background-color: var(--nav_lyserød);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-item {
  display: felx;
  font-family: Quicksand;
  font-weight: 600;
  font-size: 25px;
  color: var(--mørkgrå);
}
.nav-link {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 25px;
  color: var(--mørkgrå);
  text-decoration: none;
  margin: 0 0 30px;
  display: block;
}
.nav-item:hover .nav-link {
  color: var(--lysgul);
}

@media (min-width: 600px) {
  .main-nav {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
  .nav-link {
    margin: 30px;
  }
}
/* ------------- Logo ---------------- */
.logo a {
  display: flex;
  padding: 0 30px;
}
.logo a:hover p {
  color: var(--lysgul);
}
.logo p {
  font-family: Bebas Neue;
  font-size: 60px;
}
.logo :nth-child(1) {
  color: var(--grøn);
}
.logo :nth-child(2) {
  color: #859986;
}
/* ------------- Dropdown menu ---------------- */
.dropdown-menu {
  display: none;
}
@media (min-width: 600px) {
  .nav-item:hover .dropdown-menu {
    display: contents;

    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    right: 0;
    background-color: white;
    border: 1px solid var(--nav_lyserød);
    padding: 0 0 10px 0;
  }
  .dropdown-list {
    width: fit-content;
  }
  .nav-item:hover .dropdown-list {
    display: block;
    margin: 0.5em 1em 0;
  }

  .dropdown-list .overskrift {
    font-size: 25px;
    font-family: Quicksand;
    font-weight: 500;
    list-style: none;
  }

  .dropdown-item {
    list-style: circle;
    display: inline-block;
    display: flex;
    position: relative;
  }
  .nav-item:hover .dropdown-item {
    justify-self: center;
  }
  .dropdown-link {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
    color: var(--mørkgrå);
    text-decoration: none;
  }
  .dropdown-link:hover {
    color: var(--lysgul);
  }
}
@media (min-width: 938px) {
  .nav-item:hover .dropdown-menu {
    justify-content: space-around;
  }
}

/* ––––––––––––––––––––––– Footer ––––––––––––––––––––––– */
.footer {
  width: 100%;
  background-color: var(--nav_lyserød);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2_footer {
  font-size: 16px;
  margin-top: 25px;
  padding-left: 90px;
  padding-right: 90px;
  font-family: Quicksand;
  font-weight: 600;
  text-align: center;
  color: var(--mørkgrå);
}

.footer form {
  padding: 4px;
  border-radius: 5px;
  padding-left: 90px;
  padding-right: 90px;
  font-size: 12px;
}

.footer label,
.footer input,
.footer textarea,
.footer select,
.button_footer {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  font-family: "Quicksand";
}

.footer .form-felt label {
  font-weight: 500;
  font-family: Quicksand;
  color: var(--mørkgrå);
}

.footer input {
  background-color: white;
  border-radius: 25px;
  border-style: solid;
  border-color: white;
}

.footer button {
  background-color: var(--lyserød);
  font-family: Quicksand;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  border-radius: 27px;
  font-size: 12px;
  font-weight: 500;
  border-style: solid;
  border-color: var(--lyserød);
  color: var(--mørkgrå);
}

.footer_logo {
  min-width: 98px;
  max-width: 15vw;
  margin: 10px 0;
}

.icons_footer {
  width: 38%;
  margin-top: 90px;
  margin-left: 60px;
  /* margin-bottom: 90px; */
}

@media (min-width: 600px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    margin: 18px 0 0 0;
    padding-bottom: 18px;
  }

  .footer_logo {
    margin-right: 60px;
  }

  .h2_footer {
    font-size: 18px;
    margin-top: 40px;
  }
}

/* ––––––––––––––––––– Brødkrummesti ––––––––––––––––––– */
.breadcrumb {
  display: flex;
  margin-left: 55px;
}

.breadcrumb a {
  text-decoration: none;
  color: var(--mørkgrå);
}
.breadcrumb p {
  margin: 10px 10px 10px 0;
  font-family: quicksand;
  font-size: 20px;
  color: var(--mørkgrå);
  font-weight: 300;
}

.kategori-html .kategori-link p {
  font-weight: 500;
}

.kategori-html .bread-kategori,
.kategori-html .bread-hobby,
.kategori-html .skraastreg1,
.kategori-html .skraastreg2 {
  display: none;
}

.hobby-list .bread-kategori {
  font-weight: 500;
}
.hobby-list .bread-hobby,
.hobby-list .skraastreg2 {
  display: none;
}
.hobby .bread-hobby {
  font-weight: 500;
}

/* ––––––––––––––––––––– Index.html ––––––––––––––––––––– */

.forside-display {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 90vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.forside-display .logo {
  max-width: 50vw;
  min-width: 300px;
}

.forside-display a {
  text-decoration: none;
}

.forside-display h2 {
  font-size: 20px;
  letter-spacing: 4px;
  word-spacing: 3px;
  margin: 25px 0 10vh;
  color: var(--mørkgrå);
}

.forside-display a:hover h2 {
  font-weight: 500;
  color: var(--orange);
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25px);
  }
}
.mover {
  max-width: 10vw;
}
img.mover {
  transform-origin: 50% 50%;
  animation: mover 1s infinite alternate;
  position: absolute;
  top: 90%;
}

/* ------- section - kategorier ------- */

.section-kategorier {
  background-color: var(--nav_lyserød);
  width: 100vw;
  min-height: 20vh;
  max-height: fit-content;
  padding: 2vh 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.section-kategorier a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  border-radius: 50px;
  text-decoration: none;
  font-family: Bebas Neue;
  font-size: 25px;
  font-weight: 600;
  color: white;
  margin: 5px;
}

.section-kategorier a:hover {
  opacity: 80%;
  transform: scale(90%);
}

.section-kategorier a:nth-child(1) {
  background-color: var(--mørkeblå);
}
.section-kategorier a:nth-child(2) {
  background-color: var(--grøn);
}
.section-kategorier a:nth-child(3) {
  background-color: var(--gul);
}
.section-kategorier a:nth-child(4) {
  background-color: var(--lyserød);
}
.section-kategorier a:nth-child(5) {
  background-color: var(--orange);
}
.section-kategorier a:nth-child(6) {
  background-color: var(--lyseblå);
}
.section-kategorier a:nth-child(7) {
  background-color: var(--grøn);
}

@media (min-width: 700px) {
  .section-kategorier {
    justify-content: space-around;
    align-items: center;
    padding: 5vh 0;
  }

  .section-kategorier a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50px;

    text-decoration: none;
    font-family: Bebas Neue;
    font-size: 25px;
    font-weight: 600;
    color: white;

    margin: 0;
  }
}
/* - section - vores favoritter -- */
.section-favoritter {
  display: flex;
  justify-content: center;
  padding: 5vh 0;
}
.vores-favoritter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.vores-favoritter h3 {
  grid-column: span 3;
  justify-self: center;

  font-size: 20px;
  letter-spacing: 4px;
  word-spacing: 3px;
  color: var(--mørkgrå);
}

.favorit-hobby-box {
  width: fit-content;
  height: fit-content;
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: solid var(--nav_lyserød) 1px;
  border-radius: 1em;
}

.favorit-hobby-box img {
  width: 20vw;
  margin-bottom: 1em;
}

.favorit-hobby-box h4 {
  text-decoration: none;
  font-family: Quicksand;
  font-size: 16px;
  color: var(--mørkgrå);
}
.favorit-hobby-box:hover {
  background-color: var(--nav_lyserød);
}
/* –––––– media queries –––––– */
@media (min-width: 650px) {
  .forside-display h2,
  .vores-favoritter h3 {
    font-size: 20px;
    letter-spacing: 5px;
    word-spacing: 6px;
  }
  .favorit-hobby-box h4 {
    font-size: 20px;
  }
}
@media (min-width: 900px) {
  .forside-display h2,
  .vores-favoritter h3 {
    font-size: 30px;
  }
}

/* –––––––––––––––––––– Kategori.html ––––––––––––––––––– */
.kategoriliste {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  min-height: 90vh;
  padding: 2vw 5vw;
}
.kategoriliste a {
  text-decoration: none;
  padding: 2em;
  cursor: pointer;
  border-radius: 12px;
  text-align: center;
  color: white;
  /* background-color: var(--mørkeblå); */
  font-family: "Bebas";
  font-size: 40px;
}
.kategoriliste a:nth-child(1) {
  background-color: var(--mørkeblå);
}
.kategoriliste a:nth-child(2) {
  background-color: var(--grøn);
}
.kategoriliste a:nth-child(3) {
  background-color: var(--gul);
}
.kategoriliste a:nth-child(4) {
  background-color: var(--lyserød);
}
.kategoriliste a:nth-child(5) {
  background-color: var(--orange);
}
.kategoriliste a:nth-child(6) {
  background-color: var(--lyseblå);
}
.kategoriliste a:nth-child(7) {
  background-color: var(--grøn);
}
@media only screen and (max-width: 768px) {
  .kategoriliste {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}

@media only screen and (max-width: 520px) {
  .kategoriliste {
    grid-template-columns: 1fr;
    gap: 1em;
  }
}
/* ––––––––––––––––––– Hobby-list.html –––––––––––––––––– */

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  gap: 30px;
  margin: 0 55px;
}
.hobby-card {
  width: 300px;
  height: fit-content;
  border: solid var(--nav_lyserød) 1px;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
}

.hobby-card a {
  text-decoration: none;
  align-self: center;
}

.hobby-card h2,
.hobby-card h3,
.hobby-card h4 {
  color: var(--mørkgrå);
  font-family: Quicksand;
}

.hobby-card h2 {
  font-size: 40px;
  font-weight: 500;
  margin: 16px 16px 0 16px;
}

.hobby-card img {
  align-self: center;
  aspect-ratio: 380/425;
  width: 250px;
}

.kategori-flex {
  display: flex;
  margin: 0 1em 1em 1em;
}

.hobby-card h3 {
  font-size: 30px;
  font-weight: 600;
}

.hobby-card h4 {
  font-size: 55px;
  margin: 0 0 0 15px;
  font-size: 30px;
  font-weight: 400;
}
/* ––––––––––––––––––––– Hobby.html ––––––––––––––––––––– */

/* --------- Computer size ------------------ */
.grid_1-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 9em;
}
.img {
  grid-column: 1;
  grid-row: 1;
}
.text {
  grid-column: 2;
  grid-row: 2;
}
.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.send-liste {
  grid-column: 1;
  background-color: #95aa99;
  border-radius: 6px;
}

.grid_boxe {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5em;
  text-align: center;
}
.box_1 {
  grid-column: 2;
}
.box_2 {
  grid-column: 3;
}
.box_3 {
  grid-column: 4;
}
/* --------- Ipad ca size ------------------ */

@media only screen and (max-width: 768px) {
  .grid_1-1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1em;
  }
  .img {
    grid-column: 1;
    /* max-width: 80%;
    max-height: 80%; */
  }
  .grid_boxe {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
  }
  .box_1 {
    grid-column: 1;
    grid-row: auto;
  }
  .box_2 {
    grid-column: 1;
    grid-row: auto;
  }
  .box_3 {
    grid-column: 1;
    grid-row: auto;
  }
}
/* --------- mobile size ------------------ */
@media only screen and (max-width: 520px) {
  .grid_1-1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1em;
  }
  .text {
    grid-column: 1;
  }
  .grid-form {
    grid-template-columns: 1fr;
  }
  .grid_boxe {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .box_1 {
    grid-column: 1;
    grid-row: auto;
  }
  .box_2 {
    grid-column: 1;
    grid-row: auto;
  }
  .box_3 {
    grid-column: 1;
    grid-row: auto;
  }
}

/* –––––––––––––––––––––––– Nav –––––––––––––––––––––––– */
.hobby .nav_link a:visited,
.hobby a:active,
.hobby a:link a:hover {
  text-decoration: none;
}
.nav_link {
  font-family: "OpenSans";
  font-size: 20px;
}
/* –––––––––––––––––––––––– Tekst og billede beskrivelse under hobby –––––––––––––––––––––––– */
/* –––––––––––––––––––––––– Billede –––––––––––––––––––––––– */
.hobby .img_container {
  width: 930px;
  height: 650px;
}
.hobby .img {
  max-width: 100%;
  place-items: center;
}
/* –––––––––––––––––––––––– Overskrift og beskrivelsen –––––––––––––––––––––––– */
.hobby .text h2 {
  font-family: "Quicksand-medium";
  font-size: 3rem;
  margin: 10px;
}
.hobby .text p {
  font-family: "OpenSans";
  font-size: 1rem;
  margin: 10px;
  max-width: 750px;
}
/* –––––––––––––––––––––––– Form –––––––––––––––––––––––– */
.send-liste {
  width: fit-content;
  margin: 1rem;
  padding: 40px;
}
.hobby .form-control {
  display: flex;
  flex-direction: row;
}
.hobby .form-control label {
  margin: 0.3rem 0 0.3rem 0.5rem;
  font-family: "OpenSans";
  color: white;
  font-size: 16px;
}
.hobby .form-control input {
  margin: 0.3rem 0 0.3rem 0;
  font-family: "OpenSans";
  color: white;
  font-size: 16px;
}
.hobby .form-felt {
  margin: 0.5rem 0 0.5rem 0;
}
.hobby .form-felt label,
.hobby .form-felt input {
  display: block;
}

.hobby .form-felt label {
  font-weight: 600;
  font-family: "OpenSans";
  color: white;
  font-size: 16px;
}
.hobby .form-felt input {
  width: 100%;
  padding: 0.3rem;
  background-color: #efefef;
  border: none;
  border-radius: 0.3rem;
  font-weight: 400;
  font-family: "OpenSans";
  font-size: 14px;
}
.send-knap {
  margin: 1.5rem 0 0.3rem 0.5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.send-knap input {
  width: 90%;
  padding: 1rem 0.5rem;
  background-color: white;
  border-radius: 2rem;
  border: none;
  font-weight: 600;
  color: #95aa99;
}
.send-liste h3 {
  margin: 1rem 0 0 0;
  width: fit-content;
  align-self: center;
  font-size: 20px;
  font-family: "Quicksand-medium";
  color: white;
}
/* –––––––––––––––––––––––– Overskrift og styling af boxsene –––––––––––––––––––––––– */
.box_container h3 {
  font-family: "Quicksand-medium";
  font-size: 50px;
  text-align: center;
}
.box_1 {
  width: 300px;
  border: 15px solid;
  border-radius: 20px;
  padding: 50px;
  margin: 20px;
  background-color: #b4bfc5;
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: "Quicksand-medium";
}
.box_2 {
  width: 300px;
  border: 15px solid;
  border-radius: 20px;
  padding: 50px;
  margin: 20px;
  background-color: var(--mørkeblå);
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: "Quicksand-medium";
}
.box_3 {
  width: 300px;
  border: 15px solid;
  border-radius: 20px;
  padding: 50px;
  margin: 20px;
  background-color: #e6c5be;
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: "Quicksand-medium";
}
