/* –––––––––––––––––––––––– Form –––––––––––––––––––––––– */
.send-liste {
  width: fit-content;
  margin: 1rem;
}
.form-control {
  display: flex;
  flex-direction: row;
}
.form-control label {
  margin: 0.3rem 0 0.3rem 0.5rem;
}
.form-control input {
  margin: 0.3rem 0 0.3rem 0;
}
.form-felt {
  margin: 0.5rem 0 0.5rem 0;
}
.form-felt label,
.form-felt input {
  display: block;
}
.form-felt input {
  width: 100%;
  padding: 0.3rem;
  background-color: #efefef;
  border: none;
  border-radius: 0.3rem;
}
.send-knap {
  margin: 1.5rem 0 0.3rem 0.5rem;
  display: flex;
  justify-content: center;
}
.send-knap input {
  width: 90%;
  padding: 1rem 0.5rem;
  background-color: #e8af81;
  border-radius: 2rem;
  border: none;
  font-weight: 600;
}
.send-liste h3 {
  margin: 1rem 0 0 0;
  width: fit-content;
  align-self: center;
  font-size: 16px;
}
